@model Inmobiliaria.Dominio.ViewModels.InmueblesViewModelDTO

@{
    /*Carga Layout*/

    Layout = "~/Views/Shared/_Layout.cshtml";

}

@RenderPage("~/Views/Shared/_ContainerMenu.cshtml")
@RenderPage("~/Views/Shared/_Container_Header.cshtml")
<div class="container">
    @if (!string.IsNullOrEmpty((string)TempData["Msj"]))
    {
        <br />
        <div class="alert alert-@TempData["TypeAlert"] col-md-auto" role="alert">
            @TempData["Msj"]
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
</div>
@*Contenido del Formulario*@
<div class="container conten-form-new-inmueble">
    <div class="card w-100">
        <div class="card-header">
            <div class="title row">
                <div class="icon">
                    <i class="material-icons">@ViewBag.icon</i>
                </div>
                <div class="title-name col">
                    <span>@ViewBag.titulo</span>
                </div>
            </div>
        </div>
        <div class="card-body">
            <form class="needs-validation" novalidate action="@Url.Action("New_Inmuebles","Inmuebles")" method="post">
                <div class="row">
                    <div class="col-sm-6 cp">
                        <div class="form-group row">
                            <label for="codigo" class="col-sm-5 col-form-label col-form-label-sm text-right">Código: </label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(x => x.Inmuebles.Codigo, new { @class = "form-control form-control-sm", placeholder = "Código", required = "1", @type = "text", @disabled="1" })
                                <div class="invalid-feedback">
                                    Ingreso un codigo para el inmueble.
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Categoria" class="col-sm-5 col-form-label col-form-label-sm text-right">Categoria: </label>
                            <div class="col-sm-6">
                                @Html.DropDownListFor(x => x.Inmuebles.IdCategoria, new SelectList(Model.LCategorias, "Id", "Nombre"), "Selecione", new { @class = "form-control form-control-sm", required = "1", @disabled = "1" })
                                <div class="invalid-feedback">
                                    Selecione una categoria
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Estado" class="col-sm-5 col-form-label col-form-label-sm text-right">Estado: </label>
                            <div class="col-sm-6">
                                @Html.DropDownListFor(x => x.Inmuebles.IdEstado, new SelectList(Model.Estados, "Id", "Nombre"), "Selecione", new { @class = "form-control form-control-sm", required = "1", @disabled = "1" })
                                <div class="invalid-feedback">
                                    Selecione una categoria.
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Municipio" class="col-sm-5 col-form-label col-form-label-sm text-right">Municipio: </label>
                            <div class="col-sm-6">
                                @Html.DropDownListFor(x => x.Inmuebles.IdMunicipio, new SelectList(Model.LMunicipios, "Id", "Nombre"), "Selecione", new { @class = "form-control form-control-sm", required = "1", @disabled = "1" })
                                <div class="invalid-feedback">
                                    Selecione el municipio.
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Zona" class="col-sm-5 col-form-label col-form-label-sm text-right">Zona: </label>
                            <div class="col-sm-6">
                                @Html.DropDownListFor(x => x.Inmuebles.IdZonaMunicipio, new SelectList(Model.LZonasMunicipios, "Id", "Nombre"), "Selecione", new { @class = "form-control form-control-sm", required = "1", @disabled = "1" })
                                <div class="invalid-feedback">
                                    Selecione la zona del Inmueble.
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Direccion" class="col-sm-5 col-form-label col-form-label-sm text-right">Direccion: </label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(x => x.Inmuebles.Direccion, new { @class = "form-control form-control-sm", placeholder = "Direccion", required = "1", @type = "text", @disabled = "1" })
                                <div class="invalid-feedback">
                                    Ingrese la Direccion.
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Habitaciones" class="col-sm-5 col-form-label col-form-label-sm text-right">Habitaciones: </label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(x => x.Inmuebles.Habitaciones, new { @class = "form-control form-control-sm", placeholder = "Habitaciones", @type = "number", @disabled = "1" })
                                <div class="invalid-feedback">
                                    Ingrese la cantidad de habitaciones.
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Banos" class="col-sm-5 col-form-label col-form-label-sm text-right">Baños: </label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(x => x.Inmuebles.Banos, new { @class = "form-control form-control-sm", placeholder = "Baños", @type = "number", @disabled = "1" })
                                <div class="invalid-feedback">
                                    Ingrese la cantidad de baños.
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Area" class="col-sm-5 col-form-label col-form-label-sm text-right">Área: </label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(x => x.Inmuebles.Area, new { @class = "form-control form-control-sm", placeholder = "Area", @type = "number", @disabled = "1" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Llaves" class="col-sm-5 col-form-label col-form-label-sm text-right">Llaves: </label>
                            <div class="col-sm-6">
                                @Html.DropDownListFor(x => x.Inmuebles.IdLlaves, new SelectList(Model.Lllaves, "Id", "Nombre"), "Selecione", new { @class = "form-control form-control-sm", required = "1", @disabled = "1" })
                                <div class="invalid-feedback">
                                    Ubicación de la llaves.
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Observacion" class="col-sm-5 col-form-label col-form-label-sm text-right">Observación: </label>
                            <div class="col-sm-6">
                                @Html.TextAreaFor(x => x.Inmuebles.Observacion, new { @class = "form-control form-control-sm", placeholder = "Observación", @type = "text", @disabled = "1" })
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 cp">
                        <div class="form-group row">
                            <label for="Precio" class="col-sm-5 col-form-label col-form-label-sm text-right">Precio del propietario: </label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(x => x.Inmuebles.PrecioPropietario, new { @class = "form-control form-control-sm", placeholder = "Precio del propietario", required = "1", @type = "number", @disabled = "1" })
                                <div class="invalid-feedback">
                                    Ingrese el precio del propietario.
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Comision" class="col-sm-5 col-form-label col-form-label-sm text-right">Porcentaje de Comisión: </label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(x => x.Inmuebles.Porcentaje, new { @class = "form-control form-control-sm", placeholder = "% de Comisión", @type = "number", @disabled = "1" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Honorarios" class="col-sm-5 col-form-label col-form-label-sm text-right">Valor de los Honorarios: </label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(x => x.Inmuebles.Honorarios, new { @class = "form-control form-control-sm", placeholder = "Valor de los honorarios", @type = "number", @disabled = "1" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Fecha" class="col-sm-5 col-form-label col-form-label-sm text-right">Fecha de Captación: </label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(x => x.Inmuebles.FechaCaptacion, new { @class = "form-control form-control-sm", placeholder = "Fecha de captación", @type = "date", @disabled = "1" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Iva" class="col-sm-5 col-form-label col-form-label-sm text-right">Porcentaje de Iva: </label>
                            <div class="col-sm-6">
                                @Html.DropDownListFor(x => x.Inmuebles.IdIva, new SelectList(Model.Liva, "Id", "Valor"), "Selecione", new { @class = "form-control form-control-sm", required = "1", @disabled = "1" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="PrecioFinal" class="col-sm-5 col-form-label col-form-label-sm text-right">Precio Final: </label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(x => x.Inmuebles.PrecioFinal, new { @class = "form-control form-control-sm", placeholder = "Precio final", @type = "number", @disabled = "1" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Propietario" class="col-sm-5 col-form-label col-form-label-sm text-right">Propietario: </label>
                            <div class="col-sm-6">
                                @Html.DropDownListFor(x => x.Inmuebles.IdPropietario, new SelectList(Model.LPropietarios, "Id", "Nombre"), "Selecione", new { @class = "form-control form-control-sm", required = "1", @disabled = "1" })
                                <div class="invalid-feedback">
                                    Selecione propietario dueño del inmueble.
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Piscina" class="col-sm-5 col-form-label col-form-label-sm text-right">Piscina: </label>
                            <div class="col-sm-6">
                                @Html.CheckBoxFor(x => x.Inmuebles.Piscina, new { @class = "form-control form-control-sm col-1", placeholder = "Piscina", @disabled = "1" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Porteria" class="col-sm-5 col-form-label col-form-label-sm text-right">Porteria: </label>
                            <div class="col-sm-6">
                                @Html.CheckBoxFor(x => x.Inmuebles.Porteria, new { @class = "form-control form-control-sm col-1", placeholder = "Porteria", @disabled = "1" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Titulo" class="col-sm-5 col-form-label col-form-label-sm text-right">Titulo Para la pagina Web: </label>
                            <div class="col-sm-6">
                                @Html.TextBoxFor(x => x.Inmuebles.Titulo, new { @class = "form-control form-control-sm", placeholder = "Titulo", @type = "text", @disabled = "1" })
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="Descripcion" class="col-sm-5 col-form-label col-form-label-sm text-right">Descripcion Para la pagina Web: </label>
                            <div class="col-sm-6">
                                @Html.TextAreaFor(x => x.Inmuebles.Descripcion, new { @class = "form-control form-control-sm", placeholder = "Descripcion", @type = "text", @disabled = "1" })
                            </div>
                        </div>
                    </div>
                </div>
                @*Botton´s Form*@
                <div class="row justify-content-end">
                    <div class="col-sm-3 offset-9">
                        <a href="@Url.Action("Index","Inmuebles")" class="btn btn-info">Regresar</a>
                        <a href="@Url.Action("Editar_Inmuebles","Inmuebles",new { id = Model.Inmuebles.Id } )")" class="btn btn-primary">Editar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>


<script src="~/Scripts/Especiales/ValidationFormRequired.js"></script>
