@model List<Inmobiliaria.Dominio.InmueblesDTO>

@{
    /*Carga Layout*/

    Layout = "~/Views/Shared/_Layout.cshtml";

}

@RenderPage("~/Views/Shared/_ContainerMenu.cshtml")

@RenderPage("~/Views/Shared/_Container_Header.cshtml")

<div class="container-table">
    <div class="row col-md-12 container-title">
    </div>
    <table id="table-inmuebles" class="table table-hover table-bordered" style="width:100%; font-size:14px;">
        <thead class="thead-table">
            <tr>
                <th>Codigo</th>
                <th>Titulo</th>
                <th>Estado</th>
                <th>Precio</th>
                <th>Habitaciones</th>
                <th>Baños</th>
                <th>Porteria</th>
                <th>Piscina</th>
                <th>Categoria</th>
                <th>Zona</th>
                <th>Opciones</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var Inmueble in Model)
            {

                <tr>
                    <td>@Inmueble.Codigo</td>
                    <td>@Inmueble.Titulo</td>
                    <td>@Inmueble.Estado</td>
                    <td>@Inmueble.PrecioFinal</td>
                    <td>@Inmueble.Habitaciones</td>
                    <td>@Inmueble.Banos</td>
                    <td>@Inmueble.Porteria</td>
                    <td>@Inmueble.Piscina</td>
                    <td>@Inmueble.IdCategoria</td>
                    <td>@Inmueble.IdZonaMunicipio</td>
                    <td> <a href="#" title="Ver detalle del Inmueble"><i class="material-icons icon-table ver">done</i></a>  <a href="#" title="Editar Inmueble"><i class="material-icons icon-table editar">loop</i></a>  <a href="#" title="Eliminar Inmueble"><i class="material-icons icon-table eliminar">clear</i></a></td>
                </tr>
            }
            
        </tbody>

        <tfoot id="footer-table-input" class="footer-input">
            <tr>
                <th>Codigo</th>
                <th>Titulo</th>
                <th>Estado</th>
                <th>Precio</th>
                <th>Habitaciones</th>
                <th>Baños</th>
                <th>Porteria</th>
                <th>Piscina</th>
                <th>Categoria</th>
                <th>Zona</th>
                <th>Opciones</th>

            </tr>
        </tfoot>

    </table>

</div>



