@model Inmobiliaria.Dominio.ViewModels.InmueblesViewModelDTO

@{
    /*Carga Layout*/

    Layout = "~/Views/Shared/_Layout.cshtml";

}

@RenderPage("~/Views/Shared/_ContainerMenu.cshtml")

@RenderPage("~/Views/Shared/_Container_Header.cshtml")


<br /><br />
<div class="card w-90">
    <div class="card-header">
        <div class="title row">
            <div class="icon">
                <i class="material-icons">@ViewBag.icon</i>
            </div>
            <div class="title-name col">
                <span>@ViewBag.titulo</span>
            </div>
            <div class="col text-right">
                <a href="@Url.Action("New_Inmuebles","Inmuebles")" title="Crear nuevo inmueble" class="btn btn-info">Nuevo Inmueble</a>
            </div>
        </div>
        
            
   

    </div>
    <div class="card-body">
        <div class="">

            @if (!string.IsNullOrEmpty((string)TempData["Msj"]))
        {
            <br />
            <div class="alert alert-@TempData["TypeAlert"] col-md-4" role="alert">
                @TempData["Msj"]
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
    }

            <table id="table-inmuebles" class="table table-hover table-bordered" style="width:100%; font-size:14px;">
                <thead class="thead-table">
                    <tr>
                        <th>Cod</th>
                        <th>Categoria</th>
                        <th>Municipio</th>
                        <th>Zona</th>
                        <th>Estado</th>
                        <th>Área</th>
                        <th>Habit...</th>
                        <th>Porteria</th>
                        <th>Piscina</th>
                        <th>Propietario</th>
                        <th>Precio</th>
                        <th>Opciones</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var Inmueble in Model.LInmuebles)
                {

                    <tr>
                        <td>@Inmueble.Codigo</td>
                        <td>@Inmueble.CategoriaInmuebles.Nombre</td>
                        <td>@Inmueble.Municipios.Nombre</td>
                        <td>@Inmueble.ZonasMunicipios.Nombre</td>
                        <td>@Inmueble.Estados.Nombre</td>
                        <td>@Inmueble.Area m2</td>
                        <td>@Inmueble.Habitaciones</td>
                        <td><input type="checkbox" class="form-check-input" checked="@Inmueble.Porteria"></td>
                        <td><input type="checkbox" class="form-check-input" checked="@Inmueble.Piscina"></td>
                        <td>@Inmueble.Propietarios.Nombre</td>
                        <td>@Html.Raw("$" + String.Format(System.Globalization.CultureInfo.CreateSpecificCulture("es-CO"), "{0:N0}", Convert.ToDecimal(Inmueble.PrecioFinal)))</td>
                        <td>
                            <a href="@Url.Action("Detalle_Inmueble","Inmuebles",new { id = Inmueble.Id } )" title="Ver detalle del Inmueble"><i class="material-icons icon-table">zoom_in</i></a>
                            <a href="@Url.Action("Editar_Inmuebles","Inmuebles",new { id = Inmueble.Id } )" title="Editar Inmueble"><i class="material-icons icon-table">edit</i></a>                            
                            <a href="#" data-toggle="modal" data-target="#@Inmueble.Id+DeleteComfirmation" title="Eliminar Inmueble"><i class="material-icons icon-table">highlight_off</i></a>

                            <!-- Popup Delete -->
                            <div class="modal fade" id="@Inmueble.Id+DeleteComfirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">Eliminar Inmueble</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            ¿Esta seguro de eliminar el inmueble N° @Inmueble.Codigo, del propietario @Inmueble.Propietarios.Nombre?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                            <a href="@Url.Action("Eliminar_Inmuebles","Inmuebles",new { id = Inmueble.Id } )" title="Eliminar Inmueble" class="btn btn-primary">Eliminar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>



                        </td>
                    </tr>
            }

                </tbody>

                <tfoot id="footer-table-input" class="footer-input">
                    <tr>
                        <th>Cod</th>
                        <th>Categoria</th>
                        <th>Municipio</th>
                        <th>Zona</th>
                        <th>Estado</th>
                        <th>Área</th>
                        <th>Habitaciones</th>
                        <th>Porteria</th>
                        <th>Piscina</th>
                        <th>Propietario</th>
                        <th>Precio</th>
                        <th class="d-none">Opciones</th>

                    </tr>
                </tfoot>

            </table>

        </div>
    </div>


</div>




