@model Inmobiliaria.Dominio.ViewModels.ViewModel_InmuebleDTO
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@foreach (var Inmu in Model.Municipios)
{
    <div class="alert-info">@Inmu.Nombre</div>
}


@foreach (var Inmu in Model.Inmuebles)
{
    <div class="alert-info">Inmueble: @Inmu.Id deciudad: @Inmu.Municipios.Nombre y de categoria @Inmu.CategoriaInmuebles.Nombre</div>
}

@Html.DropDownListFor(x => x.Municipios, new SelectList(Model.Municipios, "Id", "Nombre"), "Selecione")