<div class="row col-md-12 container-menu">
    <div class="col-md-9 menu">
        <nav class="navbar navbar-expand-lg">
            <a class="navbar-brand" href="#"><img src="~/Content/Imagenes/Logo_2018_blue.png" alt="Logo" /></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href="@Url.Action("Index","Home")">Inicio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="@Url.Action("Index","Inmuebles")" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Inmuebles
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="@Url.Action("New_Inmuebles","Inmuebles")">Nuevo</a>
                            <a class="dropdown-item" href="@Url.Action("Index","Inmuebles")">Inmuebles</a>
                            <a class="dropdown-item" href="@Url.Action("Index","Inmuebles")">Inmuebles x clientes</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Propietarios
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Nuevo</a>
                            <a class="dropdown-item" href="#">Inmuebles</a>
                            <a class="dropdown-item" href="#">Inmuebles x clientes</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Arrendatarios
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Nuevo</a>
                            <a class="dropdown-item" href="#">Inmuebles</a>
                            <a class="dropdown-item" href="#">Inmuebles x clientes</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Contratos
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Nuevo</a>
                            <a class="dropdown-item" href="#">Inmuebles</a>
                            <a class="dropdown-item" href="#">Inmuebles x clientes</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Pagos y Compras
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Nuevo</a>
                            <a class="dropdown-item" href="#">Inmuebles</a>
                            <a class="dropdown-item" href="#">Inmuebles x clientes</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Informes
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Nuevo</a>
                            <a class="dropdown-item" href="#">Inmuebles</a>
                            <a class="dropdown-item" href="#">Inmuebles x clientes</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Configuración
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Nuevo</a>
                            <a class="dropdown-item" href="#">Inmuebles</a>
                            <a class="dropdown-item" href="#">Inmuebles x clientes</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Mi perfil
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Nuevo</a>
                            <a class="dropdown-item" href="#">Inmuebles</a>
                            <a class="dropdown-item" href="#">Inmuebles x clientes</a>
                        </div>
                    </li>




                </ul>
            </div>
        </nav>
    </div>
    <div class="col-md-3 row">
        <div class="usuario">
            Imobiliaria Diamante - Jhon Castrillon
        </div>
        <div class="salir">
            <span>
                Salir
            </span>
        </div>
    </div>

</div>






