<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.titlepagina</title>

    <link href="~/Content/Estilos/Bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/_Menu_Cliente.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Estilos_aplicacion.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/DataTables/css/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
        @*Logo de Inmobiliaria con link.. Falta colorcar URL*@
        <a class="navbar-brand logo-inmobiliariaAPP" href="#">

        </a>

        @*boton que se coloca automaticamente en dispositivos pequeños*@
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        @*contenido del menu*@
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">
                @*Link Inicio*@
                <li class="nav-item link nombre-empresa">
                    <a class="nav-link" href="#">@ViewBag.empresa Inmobiliaria Diamante sas</a>
                </li>

                @*Link Inicio*@
                <li class="nav-item link">
                    <a class="nav-link hover-color" href="@Url.Action("Editar_Propietarios", "propietarios")">Inicio</a>
                </li>

                @*Dropdown Inmuebles*@
                <li class="nav-item link">
                    <a class="nav-link hover-color" href="@Url.Action("_Index_Tab_Inmuebles", "inmuebles")">Inmuebles</a>
                </li>

                @*Dropdown Propietarios*@
                <li class="nav-item link">
                    <a class="nav-link hover-color" href="#">Propietarios</a>
                </li>


                @*Dropdown Arrendatario*@
                <li class="nav-item link ">
                    <a class="nav-link hover-color" href="#">Arrendatarios</a>
                </li>

                @*Dropdown Contratos*@
                <li class="nav-item link">
                    <a class="nav-link hover-color" href="#">Contratos</a>
                </li>

                @*Dropdown Pagos y compras*@
                <li class="nav-item link">
                    <a class="nav-link hover-color" href="#">Pagos y Compras</a>
                </li>

                @*Dropdown Informes*@
                <li class="nav-item link">
                    <a class="nav-link hover-color" href="#">Informes</a>
                </li>


                @*Dropdown Configuracion*@
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle hover-color" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Configuración
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item " href="#">Mi Inmobiliaria</a>
                        <a class="dropdown-item " href="#">Categorias de Inmuebles</a>
                        <a class="dropdown-item " href="#">Zonas y municipios</a>
                        <a class="dropdown-item " href="#">Usuarios</a>
                        <a class="dropdown-item " href="#">Mi plan InmobiliariaAPP</a>
                        <a class="dropdown-item " href="#">Mi perfil</a>
                    </div>
                </li>


                @*Dropdown Sesion*@


            </ul>


            <form class="nav-item dropdown drop-sesion float-right col-md-3">

                <a class="nav-link dropdown-toggle float-right" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fab fa-earlybirds icon-cerrars"></i>
                    Jhon Castrillon
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#"><i class="far fa-user color-bluesua"></i>&ensp;Mi perfil</a>
                    <a class="dropdown-item" href="#"><i class="far fa-paper-plane color-bluesua"></i>&ensp;Mi plan</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"><i class="fas fa-wrench color-bluesua"></i>&ensp;Configuración</a>
                    <a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt color-bluesua"></i>&ensp;Cerrar Sesión</a>
                </div>
            </form>



        </div>
    </nav>


    <!-- #Archivos JS -->
    <script src="~/Scripts/Jquery/jquery-3.3.1.min.js"></script>
    <!-- Script del sitio Generales -->
    <script src="~/Scripts/Scripts_App.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/Scripts/Bootstrap/bootstrap.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <!-- #Script de Datatables JS -->
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/DataTables/dataTables.bootstrap4.min.js"></script>







    @RenderBody()

</body>
</html>