<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewBag.Title</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/helper.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Estilos/Bootstrap/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css" integrity="sha384-v2Tw72dyUXeU3y4aM2Y0tBJQkGfplr39mxZqlTBDUZAb9BGoC40+rdFCG0m10lXk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/fontawesome.css" integrity="sha384-q3jl8XQu1OpdLgGFvNRnPdj5VIlCvgsDQTQB6owSOHWlAurxul7f+JpUOVdAiJ5P" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">




</head>
<body class="fix-header fix-sidebar">
    <!-- Cuando se demora en cargar el menu muestra un circulo cargando -->
    <div class="preloader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
        </svg>
    </div>

    <!-- Menu Vertical  -->
    <div id="main-wrapper">


        <!-- Menu Superior  -->
        <div class="header">
            <nav class="navbar top-navbar navbar-expand-md navbar-light">
                <!-- Logo -->
                <div class="navbar-header fondo-brand-nav">
                    <a class="navbar-brand " href="@Url.Action("Index","Home")">
                        @*<span class="dark-logo">Inmobiliari</span>
                        <b>App</b>*@
                    </a>
                </div>
                <!-- End Logo -->
                <div class="navbar-collapse">
                    <!-- Inicio de Menu-->
                    <ul class="navbar-nav">
                        <!-- This is  -->
                        <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted  " href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                        <li class="nav-item m-l-10"> <a class="nav-link sidebartoggler hidden-sm-down text-muted  " href="javascript:void(0)"><i class="ti-menu"></i></a> </li>
                    </ul>

                    <!-- Barra de Busqueda -->
                    <ul class="navbar-nav my-lg-0">
                        <!-- Buscar -->
                        <li class="nav-item hidden-sm-down search-box">
                            <a class="nav-link hidden-sm-down button-buscar" href="javascript:void(0)"><i class="ti-search"></i></a>
                            <form class="app-search">
                                <input type="text" class="form-control" placeholder="Buscar Propietarios..."> <a class="srh-btn"><i class="ti-close"></i></a>
                            </form>
                        </li>
                    </ul>
                    
                    <ul class="col-md-4">
                        <li><div class="nombre-empresa"><h2>Core del Negocio</h2></div></li>
                    </ul>

                    <ul class="col-md-2 offset-1 nav navbar-nav">
                        <li class="buton-agregarinm">
                            <i class="fas fa-plus icon-mas"></i>
                            <a href="#">Agregar Inmueble</a>
                        </li>
                    </ul>

                    <ul class="col-md-2 nav navbar-nav">
                        <li class="buton-agregarinm">                            
                            <i class="fas fa-dollar-sign icon-dollar"></i>
                            <a href="#">Pagos y Compras</a>
                        </li>
                    </ul>

                    <!--Mi perfil Configuracion y cerrar Session-->
                    
                        <ul class="col-md-3 nav navbar-nav">
                            <li class="dropdown drop-drowmlist">
                                <i class="fab fa-earlybirds icon-perfil"></i><a href="#" class="dropdown-toggle drop-user" data-toggle="dropdown">@ViewBag.nombreUsuario  Jhon Castrillon <i class="fas fa-sort-down icon-drop color-naranjaofi"></i></a>
                                <ul class="dropdown-menu">
                                    <li class="color-gr"><i class="far fa-user color-bluesua"></i>&ensp;<a href="#">  Mi Perfil</a></li>
                                    <li class="divider"></li>
                                    <li class="color-gr"><i class="far fa-paper-plane color-bluesua"></i>&ensp;<a href="#">  Mi Plan</a></li>
                                    <li class="divider"></li>
                                    <li class="color-gr"><i class="far fa-user color-bluesua"></i>&ensp;<a href="#">Mi Perfil</a></li>
                                    <li class="divider"></li>
                                    <li class="color-gr"><i class="fas fa-wrench color-bluesua"></i>&ensp;<a href="#">Configuración</a></li>
                                    <li class="divider"></li>
                                    <li class="color-gr"><i class="fas fa-sign-out-alt color-bluesua"></i>&ensp;<a href="#">Cerrar Sesión</a></li>
                                </ul>
                            </li>
                        </ul>

                        <!--final Mi perfil Configuracion y cerrar Session-->

</div>
            </nav>
        </div>
        <!-- End Menu Superior-->



        <!-- Menu Izquierda  -->
        <div class="left-sidebar">
            <!-- Lista Menu-->
            <div class="scroll-sidebar">
                <!-- Menu de navegacion izquerdo-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">                       
                        
                        <li>
                            <a class="" href="#" aria-expanded="false"><i class="fas fa-building iconmenu-inmueble"></i><span class="hide-menu"> Inmuebles</span></a>
                            <ul aria-expanded="false" class="">
                                <li><a href="@Url.Action("Index","Home")">Agregar Inmueble</a></li>
                                <li><a href="@Url.Action("Index","Home")">Mis Inmubles</a></li>
                                <li><a href="@Url.Action("Index","Home")">Inmuebles x Clientes</a></li>
                            </ul>
                        </li>
                        
                        <li>
                            <a class="has-arrow  " href="#" aria-expanded="false"><i class="fas fa-users iconmenu-propietario"></i><span class="hide-menu"> Propietarios</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="@Url.Action("Index","Home")">Agregar Propietarios</a></li>
                                <li><a href="@Url.Action("Index","Home")">Ver todos los propietarios</a></li>
                                <li><a href="@Url.Action("Index","Home")">Propietarios x Inmuebles</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow  " href="#" aria-expanded="false"><i class="fas fa-users iconmenu-arrendatario"></i><span class="hide-menu"> Arrendatarios</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="@Url.Action("Index","Home")">Agregar Arrendador</a></li>
                                <li><a href="@Url.Action("Index","Home")">Ver todos los arrendadores</a></li>
                                <li><a href="@Url.Action("Index","Home")">Arrendadores x Inmuebles</a></li>
                            </ul>
                        </li>
                        
                        <li>
                            <a class="has-arrow  " href="#" aria-expanded="false"><i class="far fa-file-alt iconmenu-contrato"></i><span class="hide-menu"> Contratos</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="@Url.Action("Index","Home")">Nuevo Contrato</a></li>
                                <li><a href="@Url.Action("Index","Home")">Ver todos los Contratos</a></li>
                                <li><a href="@Url.Action("Index","Home")">Cuentas x Pagar</a></li>
                                <li><a href="@Url.Action("Index","Home")">Cuentas x Cobrar</a></li>
                            </ul>
                        </li>
                        
                        <li>
                            <a class="has-arrow  " href="#" aria-expanded="false"><i class="fas fa-dollar-sign iconmenu-recaudo"></i><span class="hide-menu"> Recaudos y Pagos</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="@Url.Action("Index","Home")">Reibir Pago de Arrendatario</a></li>
                                <li><a href="@Url.Action("Index","Home")">Realizar Pago a Propietario</a></li>
                                <li><a href="@Url.Action("Index","Home")">Ver cajas y Bancos</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow  " href="#" aria-expanded="false"><i class="far fa-money-bill-alt iconmenu-otrosi"></i><span> </span><span class="hide-menu"> Otros Ingresos y Egresos</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="@Url.Action("Index","Home")">Pago a Proveedores</a></li>
                                <li><a href="@Url.Action("Index","Home")">Registrar Compra</a></li>
                                <li><a href="@Url.Action("Index","Home")">Otros Ingresos</a></li>
                                <li><a href="@Url.Action("Index","Home")">Otros Egresos</a></li>
                            </ul>
                        </li>
                        
                        <li>
                            <a class="has-arrow  " href="#" aria-expanded="false"><i class="fas fa-file-alt iconmenu-general"></i><span class="hide-menu"> Generales</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="@Url.Action("Index","Home")">Propietarios</a></li>
                                <li><a href="@Url.Action("Index","Home")">Arrendadores</a></li>
                                <li><a href="@Url.Action("Index","Home")">Contratos</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="has-arrow  " href="#" aria-expanded="false"><i class="fas fa-credit-card iconmenu-financiero"></i></i><span class="hide-menu"> Financieros</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="@Url.Action("Index","Home")">General</a></li>
                                <li><a href="@Url.Action("Index","Home")">Pagos a Propietarios</a></li>
                                <li><a href="@Url.Action("Index","Home")">Pagos de Arrendadores</a></li>
                                <li><a href="@Url.Action("Index","Home")">Mora de Arrendadores</a></li>
                                <li><a href="@Url.Action("Index","Home")">Mora de Propietarios</a></li>
                                <li><a href="@Url.Action("Index","Home")">Movimientos de Caja</a></li>
                            </ul>
                        </li>
                        
                        <li>
                            <a class="has-arrow  " href="#" aria-expanded="false"><i class="fas fa-cog iconmenu-config"></i><span class="hide-menu"> Configuración</span></a>
                            <ul aria-expanded="false" class="collapse">
                                <li><a href="@Url.Action("Index","Home")">Mi inmobiliaria</a></li>
                                <li><a href="@Url.Action("Index","Home")">Categorias de Inmuebles</a></li>
                                <li><a href="@Url.Action("Index","Home")">Zonas y municipios</a></li>
                                <li><a href="@Url.Action("Index","Home")">Usuarios</a></li>
                                <li><a href="@Url.Action("Index","Home")">Mi perfil</a></li>
                            </ul>
                        </li>


                    </ul>
                </nav>
                <!-- End Menu de navegacion izquerdo -->
            </div>
            <!-- End Sidebar scroll-->
        </div>
        <!-- End Left Sidebar  -->

        <!-- Page wrapper  -->
        <div class="page-wrapper">
            <!-- Bread crumb -->
            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h3 class="text-secondary">@ViewBag.titulopage Nuevo Propietario</h3>
                </div>
                @*Para ubicar al usuario el lugar done esta PROVISIONAL*@
                <div class="col-md-7 align-self-center">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ol>
                </div>
            </div>
            <!-- End Bread crumb -->


            <!-- Container fluid  -->
            <div class="container-fluid">
                <!-- Start Page Content -->
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">@RenderBody()</div>
                        </div>
                    </div>
                </div>
                <!-- End PAge Content -->
            </div>
            <!-- End Container fluid  -->
            <!-- footer -->

            <footer class="footer"></footer>
            <!-- End footer -->
        </div>
        <!-- End Page wrapper  -->
    </div>
    <!-- End Menu Vertical -->



    








    <!-- #Archivos JS -->
    <script src="~/Scripts/Jquery/jquery-3.3.1.min.js"></script>
    <!-- Bootstrap tether Core JavaScript -->
    <script src="~/Scripts/Bootstrap/bootstrap.min.js"></script>
    <!-- slimscrollbar scrollbar JavaScript -->
    <script src="~/Scripts/jquery.slimscroll.js"></script>
    <!--Menu sidebar -->
    <script src="~/Scripts/sidebarmenu.js"></script>
    <!--stickey kit -->
    <script src="~/Scripts/lib/sticky-kit-master/dist/sticky-kit.min.js"></script>
    <!--Custom JavaScript -->
    <script src="~/Scripts/custom.min.js"></script>
    <!-- #endregion -->

</body>
</html>